# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
*.lock

# IDEs
.idea/
.vscode/
*.iml

# Firebase files
google-services.json
GoogleService-Info.plist
